@import "~antd/dist/antd.css";

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px soldi #dddddd;
  test-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
